<div class="container">
    <div class="row">
        <div class="card-groupcard-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Invoice Details</h5>
                    <div class="row">
                        <div class="col">
                            Company<p class="card-text">{{invoice.companyName}}</p>
                        </div>
                        <div class="col">
                            Due date <p class="card-text">{{invoice.dueDate | date:'dd/MM/yyyy'}}</p>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Value <p class="card-text">{{invoice.value | currency }}</p>
                        </div>
                        <div class="col">
                            Status <p class="card-text">{{invoice.status}}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            User cpf <p class="card-text">{{invoice.userCreateAndListAllDTO.cpf}}</p>
                        </div>
                        <div class="col">
                            Name <p class="card-text">{{invoice.userCreateAndListAllDTO.firstName}}
                                {{invoice.userCreateAndListAllDTO.lastName}}</p>
                        </div>
                    </div>
                </div>
                    <div class="row col-12">
                        <div class="col-6">
                            <button type="button" class="btn btn-danger" style="margin-left: 7rem;"
                            (click)="deleteInvoice(invoice.id)">Delete</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" style="margin-left: 2rem;" routerLink="/list">Go to
                                 Back</button>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>