<div class="container">
    <div class="row">
        <strong class="title-list mx-auto">Update status Invoice</strong>
        <form class="col-md-12 mt-5" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <label for="selectStatus">Status</label>
                    <select class="custom-select" [(ngModel)]="invoice.status" name="status" id="selectStatus">
                        <option value='' disabled selected>Selection</option>
                        <option>PAYABLE</option>
                        <option> PAID_OUT</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3">Save</button>
            <button type="button" class="btn btn-secondary mt-3" style="margin-left: 2rem;" routerLink="/list">Go to
                Back</button>
        </form>
    </div>
</div>