.navbar {
    background-color: #BFE2E9  !important;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 0.3s;
    color: #272828;
}

.navbar-brand:hover{
    text-shadow: 2px 2px 5px #4C4F50 ;
}
.collapse .navbar-collapse{
    .navbar-nav .mr-auto {
        .nav-item {
            .style-link .nav-link {
                a {
                    color: #272828 !important;  
                    font-weight: 500 !important;
                    font-size: 1.5rem !important;
                    list-style: none !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}