.btn {
    margin-left: 0.5rem;
}

table {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

i.bi-pencil-square {
    color: #7BE2F0;
}

i.bi.bi-x-circle-fill {
    color: #F46E72;
}

i .bi.bi-pen {
    color: #B39BF1;
    justify-content: center;
    align-items: center;
}

.groupBtn {
    a {
        margin-left: 0.5rem;
    }
}





/*
@media screen and (max-width: 1200px) {
  
    
    table {
        tbody {
            tr {
                td.groupBtn {
                    button {
                        width: 25%;
                    }
                }    
                
            }
        }
    }
}
*/

  