<div class="container">
    <div class="row">
        <strong class="title-list mx-auto">Invoice List</strong>
        <table class="table table-hover" *ngIf="getAllInvoices">
            <thead>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Value</th>
                    <th scope="col">Status</th>
                    <th scope="col">User Cpf</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Actions</th>
                    <th>teste</th>

                </tr>
            </thead>
            <tbody>
                <tr class="table-light" *ngFor="let invoice of getAllInvoices">
                    <td>{{invoice.companyName}}</td>
                    <td>{{invoice.dueDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{invoice.value | currency}}</td>
                    <td>{{invoice.status}}</td>
                    <td>{{invoice.userCreateAndListAllDTO.cpf}}</td>
                    <td>{{invoice.userCreateAndListAllDTO.firstName}} {{invoice.userCreateAndListAllDTO.lastName}}</td>
                    <td>{{invoice.userCreateAndListAllDTO.dateOfBirth | date:'dd/MM/yyyy' }}</td>

                    <td class="groupBtn">

                        <button type="button" class="btn btn-outline-primary"
                            (click)="editInvoice(invoice.id)">Edit</button>
                        <button type="button" class="btn btn-outline-danger"
                            (click)="deleteInvoice(invoice.id)">Delete</button>
                        <button type="button" class="btn btn-outline-info"
                            (click)="updateStatusInvoice(invoice.id)">Change status</button>

                    </td>

                    <td>{{invoice.id}} </td>


                </tr>

            </tbody>
        </table>

    </div>
</div>