.title-new {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 5rem;
    align-items: center;

}

.list-error {
    li {
        list-style-type: none;
    }
}