/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    font-family: Ubuntu, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

strong.title-list.mx-auto {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.1rem;
    font-family: Roboto, sans-serif;
    transition: all 0.3s;
}

.title-list:hover {
   color: #161414;
}

.btn {
    margin-left: 0.5rem;
}

.btn-new{
    padding: 0;
    margin: 0;

    button {
        background-color: #72CA24;
        margin-bottom: 1.2rem;
        border-radius: 0.5rem;
        transition: all 0.3s;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.btn-new:hover {
    button {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

table {
    margin-bottom: 1rem;
}

.table-responsive-lg {
    width: 100%;
}

i.bi-pencil-square {
    color: #45C3D0;
}

.groupBtn {
    a {
        margin-left: 0.6rem;
    }
}

@media screen and (max-width: 576px) {
    .btn-new{
        button {
            width: 15%;
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .btn-new{
        button {
            width: 20%;
            font-size: 0.7rem;
        }
    }
}